{
  "extends": "airbnb/base",

  "globals": {
    "_gaq": true,
    "_pa": true,
    "$": true,
    "app": true,
    "alert": true,
    "canvg": true,
    "console": true,
    "escape": true,
    "WAGNER": true,
    "module": true,
    "require": true,
    "System": true,
    "user": true,
    "TweenMax": true,
    "TimelineMax": true,
    "Power1": true,
    "Power2": true,
    "Power3": true,
    "Power4": true
  },

  "rules": {
    "no-labels": [2, { "allowLoop": false, "allowSwitch": false }],
    "no-unused-vars": 0,
    "no-new": 0,
    "no-new-func": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-console": 0,
    "padded-blocks": 0,
    "id-length": 0
  }
}
